/*@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+US+Trad+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');*/

html,
body,
main {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(80, 76, 134);;
}

.fond_nom_site {
    background-color: rgb(80, 76, 134);
    padding: 20px;
}

p {
    text-align: center;
}

/*Nav*/
.navigation {
    background-color: rgb(126, 126, 126);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.lien {
    color: white;
    width: 10%;
    text-decoration: none;
}

.contact:hover,
.nos_voyages:hover {
    border-color: #4F0002;
    color: #4F0002;
    box-shadow: none;
}

.page_actif {
    background-color: rgb(82, 16, 95);
    padding: 10px;
    width: 10%;
    border-width: 1px;
    color: white;
    border-style: solid;
    text-align: center;
}

.nos_voyages {
    background-color: rgba(135, 36, 155, 0.925);
    padding: 10px;
    width: 100%;
    border-width: 1px;
    color: white;
    border-style: solid;
    text-align: center;
}

.contact {
    background-color: rgb(175, 23, 206);
    padding: 10px;
    width: 100%;
    border-width: 1px;
    color: #ffffff;
    border-style: solid;
    text-align: center;
}


/* contenu principal*/

.container {
    display: flex;
    flex-direction: column;
}

.trip {
    display: flex;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(92, 92, 92);
}


.texte_trip {
    /*background-color: rgb(120, 120, 120);*/
    width: 50%;
    color: #000000;
}


.photo_trip {
   /* background-color: rgb(124, 60, 60);*/
    width: 50%;
    color: #000000;
}


/*bas de page*/
.footer {
    background-color: rgb(80, 76, 134);
    padding: 10px;
    margin-top: auto;
    width: 100%;
}

/*Dropdown*/
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
/*end dropdown*/