html,
body,
main {
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

.fond_nom_site {
    background-image: linear-gradient(to left, #7a2c2c, #8f2424);
    padding: 20px;
}

p {
    text-align: center;
}

/*Nav*/
.navigation {
    background-color: rgb(80, 76, 134);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.lien {
    color: white;
    width: 10%;
    text-decoration: none;
}

.contact:hover,
.nos_voyages:hover {
    border-color: #4F0002;
    color: #4F0002;
    box-shadow: none;
}

.page_actif {
    background-color: rgb(82, 16, 95);
    padding: 10px;
    width: 10%;
    border-width: 1px;
    color: white;
    border-style: solid;
    text-align: center;
}

.nos_voyages {
    background-color: rgba(135, 36, 155, 0.925);
    padding: 10px;
    width: 100%;
    border-width: 1px;
    color: white;
    border-style: solid;
    text-align: center;
}

.contact {
    background-color: rgb(175, 23, 206);
    padding: 10px;
    width: 100%;
    border-width: 1px;
    color: white;
    border-style: solid;
    text-align: center;
}

/* contenu principale*/


.container {
    display: flex;
    flex-direction: column;
}

.trip {
    display: flex;
    padding: 10px;
    height: 100%;
    width: 100%;
    background-color: rgb(134, 129, 158);
}

.text_trip {
    background-color: rgb(228, 8, 8);
    width: 50%;
    color: white;
}


.photo_trip {
    background-color: rgb(124, 60, 60);
    width: 50%;
    color: white;
}

/*bas de page*/
.footer {
    background-color: rgb(27, 110, 55);
    padding: 10px;
    margin-top: auto;
    width: 100%;
    color: rgb(212, 0, 0);
}